<H2>navigation</H2>
<ul>
    <li><a href="{{ url_for('main') }}">Home</a></li>
    <li><a href="{{ url_for('get_counted_tags') }}">Tag counts</a></li>
    <li><a href="{{ url_for('get_tags') }}">Sorted tags</a></li>
    <li><a href="{{ url_for('get_sources') }}">Sources</a></li>
</ul>
{% block content %}{% endblock %}
