{% extends "base.html" %}
{% block content %}
    <H1>miete ("thought") + lause ("phrase")</H1>
    <p>count: {{ count }}</p>
    {% if filter %}
        <p>filter: <b><font color="red">{{ filter[0] }} = {{ filter[1] }}</font></b> <a href="{{ url_for('main') }}">clear</a></p>
    {% endif %}
    {% for item in data|sort(attribute='title') %}
        {% if item.isms %}
            <hr>
            <H2>
                <a href="{{ url_for('filter', filter_type='title', value=item.title) }}">{{ item.title }}</a>
                (<a href="{{ url_for('filter', filter_type='author', value=item.author) }}">{{ item.author }}</a>)
            </H2>
            <hr>
            {% for entry in item.isms %}
                {{ entry.quote }}<br>
                {% if entry.number and entry.number != '0' %}
                    page: {{ entry.number }}<br>
                {% endif %}
                {% if entry.comment %}
                    comments: {{ entry.comment }}<br>
                {% endif %}
                {% if entry.tags and entry.tags[0] != 'tagme' %}
                    tags:</nbsp>
                    {% for tag in entry.tags %}
                        <a href="{{ url_for('filter', filter_type='tag', value=tag) }}">{{ tag }}</a>
                    {% endfor %}
                    <br>
                {% endif %}
                <hr>
            {% endfor %}
            <br>
        {% endif %}
    {% endfor %}
    {% if filter %}
    <ul>
        <li><a href="{{ url_for('filter', filter_type=filter[0], value=filter[1]) }}">Top</a></li>
    </ul>
    {% else %}
    <ul>
        <li><a href="{{ url_for('main') }}">Top</a></li>
    </ul>
    {% endif %}
{% endblock %}
