{% extends "base.html" %}
{% block content %}
    <H1>Sources</H1>
    <p>count: {{ data|length }}</p>
    {% for item in data|sort(attribute='title') %}
        <p>
            <a href="{{ url_for('filter', filter_type='title', value=item.title) }}">{{ item.title }}</a>
            (<a href="{{ url_for('filter', filter_type='author', value=item.author) }}">{{ item.author }}</a>)
        </p>
    {% endfor %}
    <ul>
        <li><a href="{{ url_for('get_sources') }}">Top</a></li>
    </ul>
{% endblock %}
