{% extends "base.html" %}
{% block content %}
    <H1>Tags</H1>
    <p>count: {{ data|length }}</p>
    {% for entry in data %}
        <p>
        {% if entry is string %}
            <a href="{{ url_for('filter', filter_type='tag', value=entry) }}">{{ entry }}</a>
        {% elif entry is sequence %}
            <a href="{{ url_for('filter', filter_type='tag', value=entry[0]) }}">{{ entry[0] }}</a>: {{ entry[1] }}
        {% endif  %}
        </p>
    {% endfor %}
    <ul>
        {% if data[0] is string %}
            <li><a href="{{ url_for('get_tags') }}">Top</a></li>
        {% elif data[0] is sequence %}
            <li><a href="{{ url_for('get_counted_tags') }}">Top</a></li>
        {% endif %}
    </ul>
{% endblock %}
